<div class="container">
  <h1><%=t('event.new.edit.edit')%></h1>


  <form method="POST" action="/event/change_max_amount">
  	<%= csrf_token_field %>
  	<input type="text" name="max_amount_of_people" class="input-block-level"/>

    <input type="submit" class="btn btn-primary" value="Grabar" id="BTCreateLargeShip">

  </form>



</div>
