<div class="container">

    <h2> Titulo de evento </h2>
    <div class="bs-example">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label class="sr-only" for="inputCupo">Cupo</label>
            <input type="text" class="form-control" id="inputCupo" placeholder="Cupo">
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">Nivel de audiencia</button>
          <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
          <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    </div>

</div>