<div class="container">

  <h2> Titulo de evento </h2>
  <div>
  <form method="POST" action="save_changes">

      <label class="sr-only" for="inputCupo">Cupo</label>
      <input type="text" id="inputCupo" placeholder="Cupo">
      <input type="text" id="audience_level" placeholder="Nivel De Audiencia">


			<input type="submit"value="Guardar"/>


  </form>
  </div>

</div>
